/*----------------------------------------------*/
/* Dark Mode - Main Application Styles         */
/*----------------------------------------------*/
/**
 * Color Scheme:
 * #212529 - Background main color
 * #1F2937 - Main card color
 * #2A9D8F - Button color
 * #335D76 - Button on hover
 * #BF3234 - Stop button
 * #44799A - Run in bg btn, used btns
 */

.root {
    -fx-background-color: #212529;
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
}


/*----------------------------------------------*/
/* Top Section - Window Controls & Title Bar    */
/*----------------------------------------------*/
/* Window bar - first row */
.window-bar {
    -fx-padding: 10;
    -fx-background-color: #1a1a1a;
    -fx-border-color: transparent transparent #2F3845 transparent;
    -fx-border-width: 0 0 1px 0;
}

.window-title {
-fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.window-button {
    -fx-alignment: center;
    -fx-padding: 10 15;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #1F2937;
    -fx-border-color: #34647F;
    -fx-border-width: 0.5px;

}

.window-button:hover {
    -fx-background-color: #2A9D8F;
}

.close-button:hover {
    -fx-background-color: #e81123;
}

/* Title bar - second row */
.title-bar {
     -fx-padding: 20 15 10 40;
     -fx-background-color: #212529;
     -fx-text-fill: white;
}

.app-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/*----------------------------------------------*/
/* Left Section - Status Panel                  */
/*----------------------------------------------*/
.status-panel {
    -fx-padding: 10;
    -fx-background-color: #212529;
    -fx-text-fill: white;
}

.status-panel-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.status-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#runToggle {
    -fx-background-color: #8D8D8D; /* Off state color */
    -fx-background-radius: 20;
    -fx-min-width: 60px;
    -fx-max-width: 60px;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-padding: 0 4px;
    -fx-border-radius: 20;
    -fx-alignment: center-left;
}

#runToggle:selected {
    -fx-background-color: #2A9D8F; /* On state color */
    -fx-alignment: center-right;
}

#toggleCircle {
    -fx-fill: #212529; /* Dark mode circle color */
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
    -fx-radius: 12;
}

.status-hint {
    -fx-text-fill: #aaaaaa;
    -fx-font-size: 16px;
    -fx-font-family: 'sans-serif';
}

.stop-button {
    -fx-background-radius: 10;
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
}

.stop-button:hover {
    -fx-background-color: #c82333;
}

#statusButton {
    -fx-background-radius: 20;
    -fx-background-color: #2A9D8F;
    -fx-text-fill: white;
}

#statusButton:hover {
    -fx-background-color: #8D8D8D;
}

/*----------------------------------------------*/
/* Card Styles                                 */
/*----------------------------------------------*/
.gridpane {
    -fx-padding: 10 20;
    -fx-background-radius: 15;
    -fx-background-color: #5D6A76;
    }

.card {
    -fx-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: #383e46;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, 0, 4);
}

.card:hover {
    -fx-background-color: #5D6A76;
}

/* Apply this style for the gridpane when inside a hovered card */
.card:hover .gridpane {
    -fx-background-color: #383e46;
}

/*----------------------------------------------*/
/* Center Section - Tab Controls & Content      */
/*----------------------------------------------*/
.center-container {
    -fx-padding: 10;
    -fx-background-color: #212529;
    -fx-text-fill: white;
}

/* Custom tabs */
.custom-tab-bar {
    -fx-text-fill: #E0E0E0;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 5;
    -fx-background-color: #4A555E;
    -fx-font-weight: bold;
}

.tab-button {
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: transparent;
    -fx-padding: 8 15;
}


.selected-tab {
    -fx-background-color: #212529;
    -fx-text-fill: white;
}

/* Dashboard Content */
#searchField{
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.search-icon {
    -fx-font-size: 18px;
    -fx-fill: #8D8D8D;
    -fx-font-family: "Courier New";
}
.search-box {
    -fx-background-color: #383e46;
    -fx-border-color: #8D8D8D;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 10;
}

.transparent-textfield {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}
.content-area {
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 0;
    -fx-background-color: #212529;
    -fx-border-color: transparent;
}

.content-pane {
    -fx-border-width: 0;
    -fx-background-color: #212529;
    -fx-border-color: transparent;
}

.scroll-pane {
    -fx-background-color: #212529;
}

.scroll-pane .viewport {
    -fx-background-color: #212529;
}

.scroll-pane .content {
    -fx-background-color: #212529;
}

.v-box {
    -fx-background-color: #212529;
}

/* Shared Keyboard Map & Hotkey Content */
.shared-gridPane {
    -fx-text-fill: white;
    -fx-padding: 20;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: #2d333b;
    -fx-border-color: #5D6A76;
}
/* Labels inside the shared-gridPane */
.shared-gridPane .label {
    -fx-text-fill: white;
}

/* Text fields inside the shared-gridPane */
.shared-gridPane .text-field {
    -fx-text-fill: white;
    -fx-background-color: #383e46;
    -fx-border-color: #5D6A76;
}

/* ComboBox styles inside the shared-gridPane */
.shared-gridPane .combo-box {
    -fx-text-fill: white;
    -fx-background-color: #383e46;
    -fx-border-color: #5D6A76;
}

/* Button styles inside the shared-gridPane */
.shared-gridPane .button {
    -fx-text-fill: white;
    -fx-background-color: #4A555E;
}

.keyboard-key {
    -fx-background-color: #383e46;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #5D6A76;
    -fx-border-width: 1;
    -fx-font-weight: bold;
}

.keyboard-key:hover {
    -fx-background-color: #5D6A76;
}

.keyboard-key:pressed, .keyboard-key.selected {
    -fx-background-color: #2A9D8F;
}

.used-key {
    -fx-background-color: #2A9D8F; /* Used key color */
}

.frequently-used-key {
    -fx-background-color: #E76F51; /* Frequently used key color */
}


.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.card-subtitle {
    -fx-font-size: 12px;
    -fx-text-fill: #8D8D8D;
}

.key-label {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: #333333;
    -fx-background-radius: 4px;
    -fx-padding: 3px 8px;
    -fx-font-weight: bold;
}

.enabled-toggle {
    -fx-background-color: #2A9D8F;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
}

.enabled-toggle:!selected {
    -fx-background-color: #8D8D8D;
}

.delete-button {
    -fx-background-color: transparent;
    -fx-text-fill: #dc3545;
}

.delete-button:hover {
    -fx-background-color: #ffeeee;
}

.usage-button {
    -fx-background-color: #2A9D8F;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
}

